*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: aquamarine;
    height: 40px;
    position: fixed;
    width: 100vw;
 }
.items{
    display: flex;
    cursor: pointer;
}
.item{
    padding-right: 20px;
}
.item:hover{
    color: red;
}
.home h1{
    font-size: 170px;
    color: white;
}
.home{
    display: flex;
    background-color: black;
}
.left h1{
    margin: 50px;
}
.right img{
    margin-top: 400px;
}
.about{
    display: flex;
    margin: 50px;
}
.about img{
    height: 500px;
    width: 500px;
}
.about h1{
    font-size: 100px;
}
.service{
    display: grid;
    grid-template-columns:repeat(3,500px)
}
.services h2{
    font-size: 100px;
    margin-top: 50px;
}
.us{
    font-size: 100px;
    padding-left: 400px; 
    color: white;
}
input{
    width: 90vw;
    height: 50px;
    margin-left:20px;
    background-color: black;
}
#btn{
    width: 150px !important;
    background-color: white;
}
.contact{
    background-color: black;
    margin-top: 50px;
    height: 500px;
}
@media screen (min-width:320px) and (max-width:768px) {

}